:root {
    background: #424242;
    color: #fffe;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 22px;
}

a, a:visited {
    color: #29B6F6;
}

#path {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    line-height: normal;
}
#path > div {
    margin: 2px 0 4px;
}
#path > div > a {
    text-decoration: none;
    background: #29B6F640;
    padding: 4px;
    margin: 0 2px;
    border-radius: 4px;
}
#path > div:first-of-type > a {
    margin-left: 0;
}

#contents {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    /*gap: 4px;*/
}
#contents .folder::after {
    content: '/';
    color: #fffe;
}

#contents .filesize {
    text-align: right;
}

#contents .row {
    display: contents;
}

#contents .row:first-of-type {
    font-weight: bold;
}

#contents .row > * {
    padding: 2px;
}

#contents .row:not(:first-of-type):hover > * {
    background: #fff2;
}

.download {
    display: grid;
    gap: 4px;
    grid-auto-flow: column;
}
