<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WebCompressor</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script type="module" src="/assets/script.js"></script>
</head>
<body>
<div id="path">
    <div><a href="/view/">/</a></div>
    {{- $fullPath := "" -}}
    {{- range .path -}}
    {{- $fullPath = (printf "%s/%s" $fullPath .) }}
    <div><a href="/view{{ $fullPath }}/">{{ . }}/</a></div>
    {{- end }}
</div>
<div id="contents">
    <div class="row header">
        <div>Path</div>
        <div>Modified on</div>
        <div>Size</div>
        <div>Download</div>
    </div>
    {{- if $fullPath | ne "" }}
    <div class="row">
        <a href="../" class="folder">..</a>
        <div></div>
        <div></div>
        <div></div>
    </div>
    {{- end }}
    {{- range .folders }}
    <div class="row">
        {{ $path := printf "%s/%s" $fullPath .Name -}}
        {{- if .Name | eq "." }}{{ $path = printf "%s/" $fullPath }}{{ end -}}
        <a href="{{ .Name }}/" class="folder">{{ .Name }}</a>
        <div class="modified">{{ .LastModified.Unix }}</div>
        <div class="filesize">{{ .Size }} B</div>
        <div class="download">
            {{- range $.compressors }}
            <button data-path="{{ $path }}">{{ .Extension }}</button>
            {{- end }}
        </div>
    </div>
    {{- end }}
    {{- range .files }}
    <div class="row">
        {{ $path := printf "%s/%s" $fullPath .Name -}}
        <a href="/raw{{ $path }}" class="file">{{ .Name }}</a>
        <div class="modified">{{ .LastModified.Unix }}</div>
        <div class="filesize">{{ .Size }} B</div>
        <div class="download">
            {{- range $.compressors }}
            <button data-path="{{ $path }}">{{ .Extension }}</button>
            {{- end }}
        </div>
    </div>
    {{- end }}
</div>
</body>
</html>