<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WebCompressor</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<div id="path">
    <div><a href="/view/">/</a></div>
    {{- $fullPath := "" -}}
    {{- range .path -}}
    {{- $fullPath = (printf "%s/%s" $fullPath .) }}
    <div><a href="/view{{ $fullPath }}/">{{ . }}/</a></div>
    {{- end }}
</div>
<div id="contents">
    {{ if $fullPath | ne "" }}
    <a href="../" class="folder">..</a>
    <div></div>
    <div></div>
    <div></div>
    {{ end }}
    {{- range .folders }}
    <a href="{{ .Name }}/" class="folder">{{ .Name }}</a>
    <div class="filesize">{{ .Size }}</div>
    <div>{{ .LastModified.Format "2006-01-02 15:04:05 -07:00" }}</div>
    <div class="download">
        {{- range $.compressors }}
        <div>{{ .Extension }}</div>
        {{- end }}
    </div>
    {{- end }}
    {{- range .files }}
    <a href="/raw{{ $fullPath }}/{{ .Name }}" class="file">{{ .Name }}</a>
    <div class="filesize">{{ .Size }}</div>
    <div>{{ .LastModified.Format "2006-01-02 15:04:05 -07:00" }}</div>
    <div class="download">
        {{- range $.compressors }}
        <div>{{ .Extension }}</div>
        {{- end }}
    </div>
    {{- end }}
</div>
</body>
</html>